# Secure wp-config ADD IN HTACCESS
<files wp-config.php>
order allow,deny
deny from all
</files>

# Block WordPress xmlrpc.php requests ADD IN HTACCESS
<Files xmlrpc.php>
order deny,allow
deny from all
#allow from 123.123.123.123
</Files>


# Block the include-only files. ADD IN HTACCESS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>


<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{REQUEST_URI} ^/?blog/+wp\-content/+debug\.log$
        RewriteRule .* - [F,L,NC]
</IfModule>
<IfModule !mod_rewrite.c>
	<Files "debug.log">
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
	<IfModule !mod_authz_core.c>
		Order deny,allow
		Deny from all
	</IfModule>
	</Files>
</IfModule>

#Disable script injections
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]

#END  Disable script injections

Redirect 301 /blog/online-income/ http://www.hawlast.com/blog/h/ecommerce
Redirect 301 /blog/hosting-kenya/ http://www.hawlast.com/blog/h/hosting-kenya
Redirect 301 /blog/kenya-internet http://www.hawlast.com/blog/h/kenya-internet
Redirect 301 /blog/web-design-tips http://www.hawlast.com/blog/h/web-design-tips

#Direct non www to www 
RewriteEngine On
RewriteCond %{HTTP_HOST} ^hawlast\.com [NC]
RewriteRule (.*) http://www.hawlast.com/$1 [L,R=301]

RewriteEngine On
RewriteRule ^web-design-tips/(.+?).htm$ /blog/$2 [L,R=301]
RewriteRule ^kenya-internet/(.+?).htm$ /blog/$2 [L,R=301]
RewriteRule ^hosting-kenya/(.+?).htm$ /blog/$2 [L,R=301]
RewriteRule ^online-income/(.+?).htm$ /blog/$2 [L,R=301]
RewriteRule ^design-tips/(.+?).htm$ /blog/$2 [L,R=301]
RewriteRule ^hosting/(.+?).htm$ /blog/$2 [L,R=301]

#FORCE SSL for all sites
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

#Turn off ETags 
<ifModule mod_headers.c>
  Header unset ETag
</ifModule>
FileETag None

#Remove Last-Modified header
<ifModule mod_headers.c>
  Header unset Last-Modified
</ifModule>


# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /blog/index.php [L]
</IfModule>

# END WordPress

# over 480 weeks
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=500304000, public"
</FilesMatch>
 
# 20 HOURS
<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=72000, must-revalidate"
</FilesMatch>

## Check this Expired Header
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Expires "Thu, 17 May 2012 20:00:00 GMT"
</FilesMatch>

#mod_gzip module enabled compression
<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# Wordfence WAF
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF

